<ul class ="login">
	<li><span class="login-list">Login with Facebook and look for our special offer icon along your route</span></li>
	<li><span class="login-list">Browse our list and pick an area you're interested in discovering</span></li>
	<li><span class="login-list">Click the ride name for further details</span></li>
</ul>
<form id="search-form">
	<h4 id="search">Search by Neighborhood or Interest</h4>
	<input type="text" ng-model="nameOrarea">
</form>
<div id="ridelist-col">
	<div class="my-route" ng-repeat="data in rides | filter: nameOrarea | orderBy: 'name'">
		<h3 class="ride-title"><a href="{{data.path}}#rides">{{data.name}}</a></h3>
		<div class="route">
	  	<h5 class="area">{{data.area}}</h5>
			<p class="miles"><i class="fa fa-map-marker"></i>Distance: {{data.miles}}mi</p>
			<p class="time"><i class="fa fa-clock-o"></i>Time: {{data.time}}min</p>
			<p class="stops"><i class="fa fa-flag-o"></i>Stops: {{data.stops}}</p>
			<h5 class="ride-description">{{data.description}}</h5>
		</div>
	</div>
</div>
